/* Reset */

ul {
	padding: 				0;
	margin: 				0;
}

section:after, .clearfix:after { 
    content: 				"."; 
    visibility: 			hidden; 
    display: 				block; 
    height: 				0; 
    clear: 					both
}
